.hh {
  font-weight: 500 !important;
  font-size: 19px !important;
  line-height: 2 !important;
}
.pd {
  padding-top: 10px !important;
}
* {
  margin: 0px;
  padding: 0px;
}
.bg {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
